@font-face {
  font-family: "Manrope";
  src: url("Manrope-Bald.woff2") format("woff2"),
    url("Manrope-Bald.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fdf0e6;
  font-family: Manrope, serif;
  margin: 30%;
}

h1 {
  font-family: Manrope, serif;
  font-size: 5em;
  line-height: 55px;
}

p {
  font-family: Manrope, serif;
  font-size: 1.3em;
}